# .gitignore

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env

# Ignore logs
*.log

# Ignore cache, local, and distribution files
*.egg-info/
dist/
build/
*.egg
*.whl
*.tar.gz

# Ignore virtual environment
venv/
